@import "tailwindcss";

:root {
  --surface-base: #fcf3fa; /* fundo */
  --surface-raised: #fefefe; /* blocos - cards, containers, modais, tabelas */

  --brand-primary: #e44453; /* header, destaques institucionais, ícones ativos, elementos de navegação */
  --brand-primary-soft: #fde4f0; /* hover leve, áreas selecionadas, badges informativos, background de destaque suave */
  --brand-primary-light: #ecbfbe;

  --action-strong: #fc3441; /* ênfase */

  --text-primary: #2E1E1E; 
  --text-secondary: #9a4d6a; 

  --border-subtle: #E8CFCF; /*bordas e divisor*/
}
